@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-black;
    @apply text-white;
}

nav a:hover {
    @apply text-gray-300;
}

h1 {
    @apply text-7xl;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 3s ease-in-out forwards; 
  }

  .fade-in2 {
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
    animation-delay: 2s;
  }

  